body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #c8d3de;
}

.navbar {
    background: #832bf7eb;
    color: #fff;
    padding: 1rem;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.navbar h1 {
    margin: 0;
}

.navbar ul {
    list-style: none;
    padding: 0;
}

.navbar li {
    display: inline;
    margin: 0 15px;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.navbar a:hover {
    color: #FFD700;
    text-decoration: underline;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 40px;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #832bf7;
}

pre {
    background: #ffe7ff;
    padding: 10px;
    border-radius: 5px;
    overflow-x: auto;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-top: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

img:hover{
    transform: scale(101%);
    transition: transform 0,3s;
}

button {
    color: #832bf7;
    border-radius: 5px;
}

button:hover{
    color: #ffac31;
}